body{
  text-align: center;
}
.container{
  width: 600px;
  height: 600px;
}
.debug.container, .debug li{
  border: 1px solid red;
}
.container, li{
  display: inline-block;
  position: relative;
  border-radius: 50%;
}
.debug li{
  padding: 53px 58px;
  margin-left: -66px;
  margin-top: -66px;
  font-size: 32px;
}
li {
  position: absolute;
  transform-style: preserve-3d;
}
ul{
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0;
}
